@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
@import "tailwindcss";

/* ===== Global Styles ===== */
:root {
  --background: #aab2ff;
  --foreground: #1c1665;
  --pink: #eca0ff;
  --pink-shadow:#d490e6;
  --green-light: #cbffe8;
  --green-dark: #84ffc9;
  --transparent: rgba(0,0,0,0.5);
}

@theme {
  --color-purple-t4t: #aab2ff;
  --color-blue-t4t: #1c1665;
  --color-pink-t4t: #eca0ff;
  --color-pink-shadow-t4t: #d490e6;
  --color-green-light: #cbffe8;
  --color-green-dark: #84ffc9;
}

/* ====== Layout Styles ====== */
.page-content {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

.background-image {
  background-image: url(../public/background_icons.png);
  background-size: cover;
  background-position: center;
}

.nav {
  width: 100%;
  height: auto;
  margin-bottom:10%
}

.nav-bar {
  height: 1.5rem;
  background-color: var(--pink);
  margin-top: 1.5%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
  gap: 0px;
}

.nav-button {
  /* Inline tailwind used for hover */
  @apply bg-blue-t4t hover:bg-blue-700 text-pink-t4t font-bold py-2 px-10 rounded-full mx-2 text-3xl;
}

.divider{
  width: 100%;
  height: 10%;
  background-color: #eca0ff;
}

.header-image {
  width: 100%;
  height: auto;
}



/* ====== BLOG ====== */

.container-blog {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  gap: 0px;
}

.tower-bio {
  background-color: var(--pink);
  flex-basis: 25%;
  height: 100%;
  display: flex;
}

.tower-post {
  background-color: var(--pink);
  flex-basis: 55%;
  height: 100%;
  display: flex;
}

.tower-bio-shadow {
  background-color: var(--pink-shadow);
  flex-basis: 25%;
  height: 100%;
}

.tower-blog-shadow {
  background-color: var(--pink-shadow);
  flex-basis: 25%;
  height: 100%;
}

.tower-bio-content-base {
  background-color: var(--green-dark);
  flex-basis: 95%;
  height: 10%;
  margin-top: 10%;
  transform: translate(15%, 0px);
  display:flex;
  justify-content: center;
  align-items: center;
}

.pfp {
  border: 10px solid var(--green-light)
}